.promo {
  margin: 96px auto 0;

  max-width: 1566px;
  min-height: 583px;

  @include bg-image("../img/all/promo__bg@1x.jpg", cover);

  @include retina {
    background-image: url("../img/all/promo__bg@2x.jpg");
  }

  &__inner {
    padding: 123px 20px 0 0;
    margin-left: auto;
    max-width: 456px;

    h2 {
      margin-bottom: 22px;
    }

    p {
      @include text-big;

      margin-left: 3px;
      color: white;
      text-shadow: $shadow--text;
    }
  }

  &__link {
    position: relative;

    margin-top: 47px;
    padding: 23px 25px 19px 72px;

    display: block;
    max-width: 230px;

    &::before {
      position: absolute;
      z-index: 1;

      content: "";
      width: 24px;
      height: 24px;
      top: 34%;
      left: 19%;

      background-image: url("../img/svg/insta.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }

  @media (max-width: $tablet--max) {
    margin: 10px auto 0;

    &__inner {
      padding: 0;

      h2 {
        margin-bottom: 183px;
        padding-top: 50px;
      }
    }
  }

  @media (max-width: $mobile--only) {
    margin: 34px auto 0;

    min-width: 320px;
    min-height: 272px;

    @include bg-image("../img/mobile/promo__bg@1x.jpg", contain);

    @include retina {
      background-image: url("../img/mobile/promo__bg@2x.jpg");
    }

    &__inner {
      padding: 0;

      h2 {
        @include h2;

        padding-top: 32px;
        margin-bottom: 95px;
      }

      p {
        @include text-big-mobile;

        margin-left: 7px;
      }
    }

    &__link {
      margin: 58px auto 0;
      padding-left: 87px;

      max-width: 262px;

      &::before {
        top: 33%;
        left: 22%;
      }
    }
  }
}
